@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class = "row">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Level: </a></li>
                <li role="presentation"><a href="#">Current Power:</a></li>
                <li role="presentation"><a href="#">Total Power:</a></li>
            </ul>
        </div>
        <div class="col-sm-6">

        </div>
    </div><b      
    <div class="row">
            <div class="col-sm-8">
                <h1>Dragon Ball Click!</h1>
            </div> 
            
            <div class="col-sm-4">
                <h1>Trainers</h1>
            </div>
        </div>

        <div class="row bottom">
            <div class="col-sm-8">
            </div> 
            <div class="col-sm-4">
                <div class="trainers">
                    <a class="krillin-btn">hi trainer</a>
                    <a class="vegeta-btn">hi trainer</a>
                    <a class="masterRoshi-btn">hi trainer</a>
                    <a class="cell-btn">hi trainer</a>
                    <a class="shenLong-btn    ">hi trainer</a>
                </div>
            </div>
        </div>
    <button type="button" class="btn btn-primary">Level UP!</button>
    </div>
<div>
    <form class="buttons" action="/click">
        <button name="levelup" type="">Level UP!</button>
    </form>
</div>