@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div class = "row">
        <div class="col-sm-6">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Level: </a></li>
                <li role="presentation"><a href="#">Current Power:</a></li>
                <li role="presentation"><a href="#">Total Power:</a></li>
            </ul>
        </div>
        <div class="col-sm-6">

        </div>
    </div><b      
    <div class="row">
            <div class="col-sm-8">
                <h1>Dragon Ball Click!</h1>
            </div> 
                
            <div class="col-sm-4">
                <h1>Trainers</h1>
            </div>
        </div>

        <div class="row bottom">
            <div class="col-sm-8">
                <img src="~/imgs/gokuSpiritBomb.gif" alt="">
            </div> 
            <div class="col-sm-4">
                <div class="trainers">
                    <div class="train"><img src="~/imgs/krillin.gif" class="krillin-btn img-responsive" alt="k dawg"></div>
                    <div class="vegeta-btn train"><img src="~/imgs/vegeta.gif" class="img-responsive" alt=""></div>
                    <div class="masterRoshi-btn train"><img src="~/imgs/roshi.gif" class="img-responsive" alt=""></div>
                    <div class="cell-btn train"><img src="~/imgs/cell.gif" class="img-responsive" alt=""></div>
                    <div class="shenLong-btn train"><img src="~/imgs/shenlong.gif" class="img-responsive" alt=""></div>
                </div>
            </div>
        </div>
        <button name="levelup" class="col-sm-2 btn btn-primary click-btn">POWER</button>
        <button name="levelup" class="col-sm-2 col-sm-offset-8 levelUp btn btn-primary">Level UP!</button>
    </div>
