@{
    ViewData["Title"] = "Home Page";
}
<div  >
    <ul<h6>
        <li>Level:   </li>
        <li>Current Power:   </li>
        <li>Total Power:   </li>
        
    </ul >
</div><br>
<fieldset>
    <legend><h1>Dragon Ball Click!</h1></legend>
    <div>
        
    </div>
</fieldset>
<div>
    
    <form class="buttons" action="/click">
        <button name="levelup" type="">Level UP!</button>
         
    </form>
    
</div>