.col-sm-8 {
    /*border: 2px solid black;*/
    height: 95%;
}

.col-sm-8 img{
    /*border: 2px solid black;*/
    height: 60%;
    width: 60%;
}


/*Write all of your CSS here*/

.col-sm-4 {
    /*border: 2px solid black;*/
}

.bottom {
    border: 2px solid black;
}

.trainers {
    margin-right: -15px;
}

.trainer {
    height: 100px;
    border: 1px solid black;
}
.train {
    max-height: 18%;
    max-width: 250px;

}
